<div class="footer__btn">
  <span class="footer__btn--box"
    ><a class="footer__btn--link" href=""></a
  ></span>
</div>

<div class="footer__author">
  <small class="footer__author--copyright">©2021</small>
  <small class="footer__author--message">We &hearts components</small>
</div>

<div class="footer__nav">
  <nav class="footer__nav--links">
    <ul class="list">
      <li class="list__item"><a class="list__link" href="">articles</a></li>
      <li class="list__item"><a class="list__link" href="">books</a></li>
      <li class="list__item"><a class="list__link" href="">events</a></li>
      <li class="list__item"><a class="list__link" href="">reasons</a></li>
      <li class="list__item"><a class="list__link" href="">tips</a></li>
    </ul>
  </nav>
</div>

<div class="footer__rrss">
  <nav class="footer__rrss--links">
    <ul class="list">
      <li class="list__item"><a class="list__link" href="">twitter</a></li>
      <li class="list__item"><a class="list__link" href="">instagram</a></li>
      <li class="list__item">
        <a class="list__link" href="">mastodon.social</a>
      </li>
    </ul>
  </nav>
</div>
