<main class="main">

  <aside class="main__top">

    <article class="module2">

      <small class="module2__tips">insomnia tips</small>

      <div class="module2__news">
        <h2 class="module2__news--title">looking through a window</h2>
        <p class="module2__news--text">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
      </div>

      
        <span class="module2__btn"
          ><a class="module2__btn--link" href="">go</a></span>
     
    </article>
  </aside>

  <section class="main__bottom" id="main__bottom">
    <div class="info">
      <h2 class="info__title">3 reasons to purchase</h2>
    </div>

    <div class="info__article">
      <article class="module3">
        <h3 class="module3__title">Ut sed metus</h3>
        <p class="module3__text">Lorem ipsum dolor sit amet consectetur.</p>
      </article>

      <article class="module3">
        <h3 class="module3__title">Curabitur ac erat</h3>
        <p class="module3__text">Mauris mattis urna quis lorem molestie.</p>
      </article>

      <article class="module3">
        <h3 class="module3__title">Morbi dictum</h3>
        <p class="module3__text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>

    <div class="module3__btn">
      <span class="module3__btn--box"
        ><a class="module3__btn--link" href="">More reasons</a></span
      >
    </div>
  </section>
</main>
