<aside class="extra__top">
  <article class="extra">
    <small class="extra__tips">insomnia tips</small>

    <div class="extra__news">
      <h2 class="extra__news--title">looking through a window</h2>
      <p class="extra__news--text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </div>

    <div class="extra__btn">
      <span class="extra__btn--box"
        ><a class="extra__btn--link" href="">go</a></span
      >
    </div>
  </article>
</aside>

<section class="main__bottom">
  <div class="info">
    <h2 class="info__title">3 reasons to purchase</h2>
  </div>

  <div class="info__article">
    <article class="reason">
      <h3 class="reason__title">Ut sed metus</h3>
      <p class="reason__text">Lorem ipsum dolor sit amet consectetur.</p>
    </article>

    <article class="reason">
      <h3 class="reason__title">Curabitur ac erat</h3>
      <p class="reason__text">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="reason">
      <h3 class="reason__title">Morbi dictum</h3>
      <p class="reason__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>

  <div class="info__btn">
    <span class="info__btn--box"
      ><a class="info__btn--link" href="">More reasons</a></span
    >
  </div>
</section>
