/*COLORS*/
$brightOrange: #f26002;
$white: #fff;
$lightBlue: #8ccbea;
$navyBlue: #0271bc;
$darkBlue: #304268;
$black: #000;

/*FONT-FAMILY*/
$fontBold: "Roboto Slab", serif;
$fontRegular: "Roboto", sans-serif;
$fontMedium: "Roboto", sans-serif;

/*ROBOTO FONT MIXINS*/

@mixin robotoRegular {
  font-family: $fontRegular;
  font-weight: 400;
}
@mixin robotoMedium {
  font-family: $fontMedium;
  font-weight: 500;
}

/*FONT-SIZE*/
$bigFont: 42px;
$basicFont: 16px;
$smallFont: 14px;
$titleFont: 24px;
$mediumFont: 18px;
$btnFont: 20px;
$tabletTitleFont: 26px;
$deskTitleFont: 32px;

/*ADALAB URL
$adalabUrl: url("https://adalab.es");*/

/**************MIXINS*************/

/*TITLES IN PAGE.HTML*/
@mixin titleMain {
  font-family: $fontBold;
  font-size: $titleFont;
  color: $black;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    font: $tabletTitleFont;
    line-height: 45px;
  }
  @media all and (min-width: 1024px) {
    font: $deskTitleFont;
  }
}

/*ARTICLES-REASONS IN PAGE.HTML*/
@mixin module3Title {
  font-family: $fontBold;
  font-size: $mediumFont;
  text-align: center;
  padding: 0 68px;
  @media all and (min-width: 768px) {
    font-size: $titleFont;
    margin-bottom: 14px;
  }
}
@mixin module3Text {
  @include robotoRegular;
  text-align: center;
  padding: 0 70px 45px 70px;
  @media all and (min-width: 768px) {
    font: $btnFont;
    padding-bottom: 60px;
  }
}

/*LINKS IN FOOTER.HTML*/
@mixin footerLink {
  font: $fontRegular $basicFont $white;
  text-align: center;
  text-transform: uppercase;
}
