.footer {
  background-color: #304268;
  padding: 45px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
  &__nav {
    padding-bottom: 15px;
    @media all and (min-width: 768px) {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--page {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      @media all and (min-width: 768px) {
        width: 30%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 10%;
        padding-right: 50%;
      }
      @media all and (min-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &--rrss {
      display: flex;
      flex-direction: column;
      @media all and (min-width: 768px) {
        width: 30%;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
  &__rights {
    @include robotoRegular;
    color: $white;
    font-size: $smallFont;
    text-align: center;
    @media all and (min-width: 768px) {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      order: -1;
      text-align: start;
    }
    @media all and (min-width: 1024px) {
      width: 40%;
      padding-left: 20%;
    }
  }
}
.urlFooter {
  @include footerLink;
}
.heart {
  color: #f00;
}
