.footer {
  background-color: $navyBlue;
  padding: 45px;
  margin: 45px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }

  /*LINKS*/

  &__nav {
    padding-bottom: 15px;
    @media all and (min-width: 768px) {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    /*LINKS__PAGE*/

    &--page {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      @media all and (min-width: 768px) {
        width: 30%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 10%;
        padding-right: 50%;
      }
      @media all and (min-width: 1280px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    /*LINKS__RRSS*/

    &--rrss {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      @media all and (min-width: 768px) {
        width: 30%;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  /*INFO__RIGHTS*/

  &__rights {
    @include robotoRegular;
    color: $black;
    font-size: $smallFont;
    text-align: center;
    @media all and (min-width: 768px) {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      
      text-align: start;
    }
    @media all and (min-width: 1280px) {
      width: 40%;
      padding-left: 20%;
    }
  }
}

/*URL__STYLES*/

.urlFooter {
  @include footerLink;
}

/*HEART__COLOR*/

.heart {
  color: #f00;
}
.orange {
  color: $brightOrange;
}
