.main {
  &__top {
    background-color: $white;
  }
  &__bottom {
    background-color: #eff9ff;
  }
}
.module2 {
  padding-left: 15px;
  text-align: left;
  margin-top: 30px;
  @media all and (min-width: 768px) {
    padding-left: 39px;
  }
  @media all and (min-width: 1024px) {
    padding-left: 275px;
    margin-top: 60px;
  }
  &__tips {
    color: $lightBlue;
    text-transform: capitalize;
    @include robotoRegular;
  }
  &__news {
    &--title {
      margin-bottom: 15px;
      @include titleMain;
      @media all and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }
    &--text {
      color: #4a4a4a;
      @include robotoRegular;
      padding-right: 15px;
      @media all and (min-width: 768px) {
        padding-right: 60px;
      }
      @media all and (min-width: 1024px) {
        padding-right: 275px;
      }
    }
  }
  &__btn {
    width: 76px;
    height: 45px;
    border: 2px solid $brightOrange;
    border-radius: 22.5px;
    margin: 30px 0 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    @media all and (min-width: 768px) {
      width: 91px;
      margin-bottom: 60px;
    }
    @media all and (min-width: 1280px) {
      width: 160px;
    }
    &--link {
      color: $brightOrange;
      font-size: $btnFont;
      @include robotoMedium;
      line-height: 45px;
      text-transform: capitalize;
    }
  }
}
