.main {
  &__top {
    background-color: $white;
  }
  &__bottom {
    background-color: #eff9ff;
    &--title {
      @include titleMain;
      text-align: center;
      padding: 30px 15px 45px 15px;
    }
  }
}

/*ASIDE__TOP*/

.module2 {
  padding-left: 15px;
  text-align: left;
  margin-top: 30px;
  @media all and (min-width: 768px) {
    padding-left: 39px;
  }
  @media all and (min-width: 1280px) {
    padding-left: 275px;
    margin-top: 60px;
  }

  &__tips {
    color: $lightBlue;
    text-transform: capitalize;
    font-size: $smallFont;
    @include robotoRegular;
  }

  &__news {
    &--title {
      margin-bottom: 15px;
      @include titleMain;
      @media all and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }

    &--text {
      color: #4a4a4a;
      @include robotoRegular;
      padding-right: 15px;
      @media all and (min-width: 768px) {
        padding-right: 60px;
      }
      @media all and (min-width: 1280px) {
        padding-right: 275px;
      }
    }
  }

  /*ASIDE__BTN*/

  &__btn {
    width: 76px;
    height: 45px;
    border: 2px solid $brightOrange;
    border-radius: 22.5px;
    margin: 30px 0 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    :hover {
      color: $darkBlue;
      font-size: 2em;
    }
    @media all and (min-width: 768px) {
      width: 91px;
      margin-bottom: 60px;
    }
    @media all and (min-width: 1280px) {
      width: 160px;
    }

    &--link {
      color: $brightOrange;
      font-size: $btnFont;
      @include robotoMedium;
      line-height: 45px;
      text-transform: capitalize;
    }
  }
}

/*SECTION__BOTTOM*/

.module3 {
  color: $black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 60%;
  }

  /*ARTICLES*/

  &__one {
    &--title {
      @include module3Title;
      grid-row: 1/6;
      @media all and (min-width: 768px) {
        grid-column: 1/4;
      }
      @media all and (min-width: 1280px) {
        padding: 0 30px 0 85px;
      }
    }

    &--text {
      @include module3Text;
      grid-row: 2/6;
      @media all and (min-width: 768px) {
        grid-column: 1/4;
      }
      @media all and (min-width: 1280px) {
        padding: 0 26.2px 0 81.2px;
      }
    }
  }

  &__two {
    &--title {
      @include module3Title;
      grid-row: 3/6;
      @media all and (min-width: 768px) {
        grid-column: 2/4;
      }
      @media all and (min-width: 1280px) {
        padding-right: 30px;
      }
    }

    &--text {
      @include module3Text;
      grid-row: 4/6;
      @media all and (min-width: 768px) {
        grid-column: 2/4;
      }
      @media all and (min-width: 1280px) {
        padding-right: 26.2px;
      }
    }
  }

  &__three {
    &--title {
      @include module3Title;
      grid-row: 5/6;
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
    &--text {
      @include module3Text;
      grid-row: 6/6;
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
  }
}

/*REASONS__BTN*/

.btn {
  display: flex;
  justify-content: center;
  padding: 0 60px 58px;
  transition: all 0.3s ease 0s;
  :hover {
    background: $darkBlue;
  }

  &__link {
    width: 184px;
    height: 45px;
    background-color: $brightOrange;
    border-radius: 22.5px;
    text-align: center;
    color: $white;
    text-align: center;
    font-size: 20px;
    @include robotoMedium;
    line-height: 45px;
  }
}

/*ARROW__TO__HEADER*/

.footer__arrow {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-top 1s ease-in 2s 10;
  @keyframes slide-top {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, -100px);
    }
  }
}
